
#logo {
  width: 600px;
  height: 200px;
    margin: 100px auto 10px 200px;
    color: #000000;
    alignment-adjust: central;
}

body {
    margin: 0;
    padding: 0;
	background: #186185 url(../img/gradientblue.svg) 50% 50% fixed;
	background-size: 100% 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #000000;
}

#wrapper {
	alignment-adjust
    width: 100px;
    height: 500px;
    margin: 100px auto;
    padding: 0 0 40px 0;
    background: #FFFFFF;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
}
